<header id='hero' class='d-flex' style='<%= homepage_hero_background_image %>'>
  <div class='align-self-center col'>
    <h1><%= t :brand %></h1>
    <p><%= t :tagline %></p>
  </div>
</header>

<div id='what' class='row mx-1'>
  <div class='container my-5'>
    <h2 class='mb-4'>
      What is Ethio?

      <%= link_to_heading_anchor :what %>
    </h2>

    <div class='row'>
      <div class='col-12 col-md-5 col-lg-4 mb-4'>
        <div class='card text-white bg-dark'>
          <div class='card-body'>

            <h3>Is it REST?</h3>
            <p>
              <b>Yes!</b> Eefio is just like nearly every web API:
              Twilio, Stripe, GitHub, Heroku, Twitter, Instagram…
            </p>

            <p>
              If you’ve ever used a REST API before on the web,
              you’ll feel right at home with Eefio.
            </p>
          </div>
        </div>
      </div>

      <div class='col-12 col-md-7 col-lg-8'>
        <div class='card bg-light'>
          <div class='card-body'>

            <div class='row'>
              <div class='col-12 col-lg-6'>
                <h3>Is it GraphQL?</h3>
                <p>
                  No. GraphQL is new and exciting, but it’s not Eefio’s focus.
                  If GraphQL is what you’re looking for, check out
                  <a href='https://thegraph.com'>The Graph</a>.
                </p>
              </div>

              <div class='col-12 col-lg-6'>
                <h3>Is it JSON-RPC?</h3>
                <p>
                  No. Eefio is fundamentally different from JSON-RPC.
                  If you prefer JSON-RPC, you’re probably best off sticking with:
                  <a href='https://github.com/ethereum/web3.js/'>Web3</a>,
                  <a href='https://infura.io'>Infura</a>,
                  and
                  <a href='https://etherscan.io/apis'>Etherscan</a>.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
